@charset "UTF-8";
/* CSS Document */

body {
    width:100px;
    height:100px;
    background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
    font-family: 'Raleway', sans-serif;
}

p {
    color:#CCC;
}

.spacing {
    padding-top:7px;
    padding-bottom:7px;
}
.middlePage {
    width: 680px;
    height: 700px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo {
    color:#CCC;
}